<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="validation" type="HNAS.Framework4.Validation.Configuration.ValidationSettings, HNAS.Framework4.Validation, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
		<section name="securityCryptographyConfiguration" type="HNAS.Framework4.Security.Cryptography.Configuration.CryptographySettings, HNAS.Framework4.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
		<section name="loggingConfiguration" type="HNAS.Framework4.Logging.Configuration.LoggingSettings, HNAS.Framework4.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
		<section name="exceptionHandling" type="HNAS.Framework4.ExceptionHandling.Configuration.ExceptionHandlingSettings, HNAS.Framework4.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
		<section name="dataConfiguration" type="HNAS.Framework4.Data.Configuration.DatabaseSettings, HNAS.Framework4.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
		<section name="cachingConfiguration" type="HNAS.Framework4.Caching.Configuration.CacheManagerSettings, HNAS.Framework4.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true"/>
	</configSections>
	
	<!--日志配置-->
	<loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
		<listeners>
			<add name="Event Log Listener" type="HNAS.Framework4.Logging.TraceListeners.FormattedEventLogTraceListener, HNAS.Framework4.Logging" listenerDataType="HNAS.Framework4.Logging.Configuration.FormattedEventLogTraceListenerData, HNAS.Framework4.Logging" source="Enterprise Library Logging" formatter="Text Formatter" log="Application" machineName="" traceOutputOptions="None" filter="All"/>
			<add name="Database Trace Listener" type="HNAS.Framework4.Logging.Database.FormattedDatabaseTraceListener, HNAS.Framework4.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" listenerDataType="HNAS.Framework4.Logging.Database.Configuration.FormattedDatabaseTraceListenerData, HNAS.Framework4.Logging.Database, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" databaseInstanceName="dblog" writeLogStoredProcName="WriteLog" addCategoryStoredProcName="AddCategory" formatter="Text Formatter"/>
		</listeners>
		<formatters>
			<add type="HNAS.Framework4.Logging.Formatters.TextFormatter, HNAS.Framework4.Logging" template="Timestamp: {timestamp}&#xA;Message: {message}&#xA;Category: {category}&#xA;Priority: {priority}&#xA;EventId: {eventid}&#xA;Severity: {severity}&#xA;Title:{title}&#xA;Machine: {machine}&#xA;Application Domain: {appDomain}&#xA;Process Id: {processId}&#xA;Process Name: {processName}&#xA;Win32 Thread Id: {win32ThreadId}&#xA;Thread Name: {threadName}&#xA;Extended Properties: {dictionary({key} - {value}&#xA;)}" name="Text Formatter"/>
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Database Trace Listener"/>
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events"/>
			<notProcessed switchValue="All" name="Unprocessed Category"/>
			<errors switchValue="All" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Listener"/>
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<!--异常处理配置-->
	<exceptionHandling>
		<exceptionPolicies>
			<add name="GeneralPolicy">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
						<exceptionHandlers>
							<add name="Logging Handler" type="HNAS.Framework4.ExceptionHandling.Logging.LoggingExceptionHandler, HNAS.Framework4.ExceptionHandling.Logging" logCategory="General" eventId="100" severity="Error" title="Exception Handling" formatterType="HNAS.Framework4.ExceptionHandling.TextExceptionFormatter,HNAS.Framework4.ExceptionHandling" priority="0" useDefaultLogger="false"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="PolicyOnBusinessLogicLayer">
				<exceptionTypes>
					<add name="Exception" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="None">
						<exceptionHandlers>
							<add name="Logging Handler" type="HNAS.Framework4.ExceptionHandling.Logging.LoggingExceptionHandler, HNAS.Framework4.ExceptionHandling.Logging" logCategory="General" eventId="100" severity="Error" title="Exception Handling" formatterType="HNAS.Framework4.ExceptionHandling.TextExceptionFormatter,HNAS.Framework4.ExceptionHandling" priority="0" useDefaultLogger="false"/>
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<!--缓存配置-->
	<cachingConfiguration defaultCacheManager="Cache Manager">
		<cacheManagers>
			<add name="Cache Manager" type="HNAS.Framework4.Caching.CacheManager, HNAS.Framework4.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000" numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore"/>
		</cacheManagers>
		<backingStores>
			<add type="HNAS.Framework4.Caching.BackingStoreImplementations.NullBackingStore, HNAS.Framework4.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" name="NullBackingStore"/>
		</backingStores>
	</cachingConfiguration>
	<!--数据库连接-->
	<dataConfiguration defaultDatabase="dbDemo"/>
	<connectionStrings>
   <add name="dbDemo" connectionString="server=10.2.57.103\hnas4; database=dbDemo; user id=sa; password=sa; Integrated Security=False;" providerName="System.Data.SqlClient"/>
    <add name="dbDemo1" connectionString="server=10.2.57.103\hnas4; database=dbDemo; user id=sa; password=sa; Integrated Security=False;" providerName="System.Data.SqlClient"/>
    <add name="dblog" connectionString="server=10.2.57.103\hnas4; database=Logging; user id=Sa; password=sa; Integrated Security=False;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<!--应用程序设置-->
	<appSettings>
		<add key="IllegalChars" value="|，;，$，%，'，\'，&lt;&gt;，()，CR，LF，,，\，/*，*/"/>
		<add key="IllegalSQLKeys" value="insert，create，select，delete，update，drop，and，exec，count，chr，mid，master，or，truncate，char,declare，join"/>
	</appSettings>
	<system.web>
		<customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx"></customErrors>
    <httpRuntime requestValidationMode="2.0" />
		<!--编译设置-->
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<!--防XSS跨站脚本攻击（IIS 6.0 and IIS 7.0 in Classic .NET Application Pool）-->
		<httpModules>
			<add name="AntiXssModule" type="Microsoft.Security.Application.SecurityRuntimeEngine.AntiXssModule"/>
		</httpModules>
		<!--设置为 false 则禁用ASP.NET请求验证-->
		<pages validateRequest="false">
			<controls>
			</controls>
		</pages>
		<!--缓存配置（主动通知），时间单位：毫秒-->
		<caching>
			<sqlCacheDependency enabled="true" pollTime="2000">
				<databases>
					<add name="CacheDepDB" connectionStringName="dbDemo" pollTime="1000"/>
				</databases>
			</sqlCacheDependency>
		</caching>
		<authentication mode="Forms">
		</authentication>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<!--防XSS跨站脚本攻击（IIS 7.0 pipeline mode）-->
			<add name="AntiXssModule" type="Microsoft.Security.Application.SecurityRuntimeEngine.AntiXssModule"/>
		</modules>
	</system.webServer>
</configuration>
